.dashboard-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.table_container {
  /* border: 1px solid red; */
  flex-basis: 50%;
  background-color: white;
}
.chart-container {
  flex-basis: 50%;
  border: 1px solid green;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid rgba(128, 128, 128, 0.607);
  /* border-radius: 10px; */
  /* background-color: white; */
}
.sts {
  padding: 8px;
}

th,
td {
  border-bottom: 1px solid black;
  /* border-right: 1px solid black; */
  padding: 8px;
  text-align: left;
}

th {
  cursor: pointer;
  /* font-size: 12px; */
}
td {
  font-size: 14px;
  color: gray;
}
.up {
  font-size: 8px !important;
}
.t-heading > th {
  cursor: "pointer";
  font-size: 14px;
  /* background-color: r; */
}

/* right box chart and table start ------------- */

.chart-container {
  position: relative;
}

.toggle-btn {
  width: 100%;
  padding: 0 20px;
  border: 1px solid gray;
  display: flex;
  justify-content: end;
  position: absolute;
  bottom: 12px;
  /* background-color: gray; */
}
.toggle-styling{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 4vw;
  /* padding: 3px 5px; */
  background-color: rgba(128, 128, 128, 0.356);
  border-radius: 20px;
  cursor: pointer;
}
.chart-heading-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid gray;
  gap: 5px;
  padding: 7px;
}

.donut-chart {
  width: 200px;
}
.donut-container {
  /* width: 100% !important; */
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.male {
  background-color: #ffa500;
}
.female {
  background-color: #0000ff;
}
.unknown {
  background-color: #000;
}
.color-data {
  /* background-color: red; */
  height: 10px;
  width: 36px;
  border-radius: 10px;
}
.data {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 12px;
  /* border-radius: 20px; */
}
.donut-icon.active {
  background-color: #0000FF;
  border-radius: 50%;
  color: white;
}

.backup-table-icon.active {
  background-color: #0000FF;
  border-radius: 50%;
  color: white;
}

/* right box chart and table end -----------  */
